<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Display ACP Controle Times</title>

<!--  MUCH OF THIS IS COPIED FROM CALC.HTML  -->
<!--  THIS IS SO THE FORMATTING WILL LOOK SIMILAR BOTH IN CODE AND IN RENDERED PAGE-->
<!--  PLUS I NEEDED AJAX SO I COULD MAKE THIS WORK  -->

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

	
<h1>ACP Controle Point Times</h1>
	<br />
	
<!-- This table is the same table as the calc.html, but readonly for the user>
	
<!-- Design on bootstrap grid -->
<!-- Copied over from calc.html -->
<!-- Reworked to take inputs only -->
<form role="form">
<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
  <input name="distance" id="distance" type="text" value="" readonly/>
  </div> <!-- columns 1--4  -->
  <div class="col-md-6">
    <label>Begins at</label>
    <input type=datetime name="begin_datetime" id="begin_datetime" readonly/>
  </div> <!-- columns 5-10 -->
  </div> <!-- row -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
  <div class="row">
  <div class="col-md-12"> 
  <table class="control_time_table">
      <tr>
	<th> Miles </th>
	<th> Km </th>
	<th>Location</th>
	<th>Open</th>
	<th>Close</th>
	<th>Notes</th>
      </tr>
   {% for row in range(20) %}
    <tr class="control">
      <!-- Dist (mi) -->
      <td><input name="miles" type="text" size="5" readonly/></td>
      <!-- Dist (km) -->
      <td><input name="km" type="text" size="5" readonly/> </td>
      <!-- Location (optional) -->
      <td><input name="location" type ="text" size="20" readonly/> </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><input name="open" type="text" readonly /></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><input name="close" type="text" readonly /></td>
      <!-- Notes (error messages for this row) -->
      <td class="notes"> &nbsp; </td>
    </tr>
    {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->
</form>
	
	<br />
<p><a href="{{ url_for("index") }}">Return to the calculator.</a></p>
	
	
<script type ="text/javascript">

	var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
	var GET_URL = SCRIPT_ROOT + "/_get_vals";

	//This will populatate the distance and begin datetime fields
	function get_dist_date(){
		$.getJSON(GET_URL, {_id: 100}, function(data){
      var head_data = data.result;
      console.log("Got response!");
      console.log("Distance is: " + head_data.distance);
      console.log("Start_datetime is: "+ head_data.start_datetime);
      document.getElementById('distance').value = head_data.distance;
		  document.getElementById('begin_datetime').value = moment(head_data.start_datetime).format("YYYY-MM-DD HH:mm");
    });
    
	};
	
	//This will populate all the rows and columns of the table.
	function get_tableVals(){
    var table_data = {};
    var control = document.forms[0];
    
    for (i = 0; i <= 19; i++){
      $.ajax({
        url: GET_URL,
        async: false,
        dataType: 'json',
        data: {_id: i},
        success: function(data){
          table_data = data.result;
        }
      });
      control.km[i].value = table_data.km;
      control.miles[i].value = table_data.miles;
      control.km[i].value = table_data.km;
      control.location[i].value = table_data.location;
      control.open[i].value = table_data.open;
      control.close[i].value = table_data.close;
    };
  };

	
	//Some functions calls to fill in the table
	get_dist_date();
	get_tableVals();
</script>
